

@model Furniture.Models.ViewModel.DataVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<html>
<head>
	<link href="~/homepaje/css/style.css" rel="stylesheet" />
<link href="~/device-data/testimonial.css" rel="stylesheet" />
</head>
<body>

	

		<!--welcome-hero start -->
		<header id="home" class="welcome-hero">

			<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<!--/.carousel-indicator -->
				 <ol class="carousel-indicators">
					<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
					<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
				</ol><!-- /ol-->
				<!--/.carousel-indicator -->

				<!--/.carousel-inner -->
				<div class="carousel-inner" role="listbox">
					<!-- .item -->
					<div class="item active">
						<div class="single-slide-item slide1">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>@Model.homePajes.SingleOrDefault().Paragraph</h4>
													<h2>@Model.homePajes.SingleOrDefault().Textt</h2>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
													</p>
													<div class="packages-price">
														<p>
															$ 399.00
															<del>$ 499.00</del>
														</p>
													</div>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> cart
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src=@Url.Content("~/image/"+ Model.homePajes.SingleOrDefault().Image) alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->

					<div class="item">
						<div class="single-slide-item slide2">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>great design collection</h4>
													<h2>mapple wood accent chair</h2>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
													</p>
													<div class="packages-price">
														<p>
															$ 199.00
															<del>$ 299.00</del>
														</p>
													</div>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> cart
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="~/homepaje/images/slider/slider2.png" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->

					<div class="item">
						<div class="single-slide-item slide3">
							<div class="container">
								<div class="welcome-hero-content">
									<div class="row">
										<div class="col-sm-7">
											<div class="single-welcome-hero">
												<div class="welcome-hero-txt">
													<h4>great design collection</h4>
													<h2>valvet accent arm chair</h2>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
													</p>
													<div class="packages-price">
														<p>
															$ 299.00
															<del>$ 399.00</del>
														</p>
													</div>
													<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
														<span class="lnr lnr-plus-circle"></span>
														add <span>to</span> cart
													</button>
													<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
														more info
													</button>
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
										<div class="col-sm-5">
											<div class="single-welcome-hero">
												<div class="welcome-hero-img">
													<img src="~/homepaje/images/slider/slider3.png" alt="slider image">
												</div><!--/.welcome-hero-txt-->
											</div><!--/.single-welcome-hero-->
										</div><!--/.col-->
									</div><!--/.row-->
								</div><!--/.welcome-hero-content-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->

					</div><!-- /.item .active-->
				</div><!-- /.carousel-inner-->

			</div><!--/#header-carousel-->



		

		<section id="new-arrivals" class="new-arrivals" >
			<div class="container">
				<div class="section-header">
					<h2>Popular Product</h2>
				</div><!--/.section-header-->
				<div class="new-arrivals-content">
					<div class="row">
						@foreach(var item in Model.productProjects){
						<div class="col-md-3 col-sm-4" data-aos="fade-right">
							<div class="single-new-arrival">
								<div class="single-new-arrival-bg">
										<img src=@Url.Content("~/image/"+ item.ImagePath) alt="new-arrivals images"  asp-append-version="true"  style="width:300px;height:300px">
									<div class="single-new-arrival-bg-overlay"></div>
									
									<div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
												<a  asp-action="Login" asp-controller="Authentication">add <span>to </span> cart</a>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div>
								</div>
								<h4><a href="#">@item.ProductName</a></h4>
											<p>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span class="spacial-feature-icon"><i class="fa fa-star"></i></span>
											<span class="feature-review">(45 review)</span>
										</p>
								<p class="arrival-product-price">$@item.Price</p>
							</div>
						</div>
						}
				
					
					</div>
				</div>
			</div><!--/.container-->

		</section>

		
		
		<section id="sofa-collection" data-aos="fade-right">
			<div class="owl-carousel owl-theme" id="collection-carousel">
				<div class="sofa-collection collectionbg1">
					<div class="container">
						<div class="sofa-collection-txt">
							<h2>unlimited sofa collection</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</p>
							<div class="sofa-collection-price">
								<h4>strting from <span>$ 199</span></h4>
							</div>
							<button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='#'">
								view more
							</button>
						</div>
					</div>	
				</div><!--/.sofa-collection-->
				<div class="sofa-collection collectionbg2">
					<div class="container">
						<div class="sofa-collection-txt">
							<h2>unlimited dainning table collection</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</p>
							<div class="sofa-collection-price">
								<h4>strting from <span>$ 299</span></h4>
							</div>
							<button class="btn-cart welcome-add-cart sofa-collection-btn" onclick="window.location.href='#'">
								view more
							</button>
						</div>
					</div>
				</div><!--/.sofa-collection-->
			</div><!--/.collection-carousel-->

		</section>
	
		<section id="new-arrivals" class="new-arrivals" data-aos="fade-right">
			<div class="container">
				<div class="section-header">
					<h2>Furniture Categories</h2>
				</div><!--/.section-header-->
				<div class="new-arrivals-content">
					<div class="row">
						@foreach (var item in Model.categoryProjects)
					   {
						   <div class="col-md-3 col-sm-4">
							<div class="single-new-arrival">
								<div class="single-new-arrival-bg">
										<img src=@Url.Content("~/image/"+ item.ImagePath) alt="new-arrivals images"  asp-append-version="true"  style="width:300px;height:300px" >
									<div class="single-new-arrival-bg-overlay"></div>
									
								</div>
									<h4><a href="/Home/Products/@item.Id">@item.Categoryname</a></h4>
							</div>
						</div>
					   }
						
						
					</div>
				</div>
			</div><!--/.container-->
			</section>


	<section style="color: #000;"  id="new-arrivals" class="new-arrivals" data-aos="fade-right">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
			  <div class="section-header">
				  <a asp-action="Testiomnils">
					<h2>Happy Clintes</h2>

				  </a>
					
						</div>
       
      </div>
    </div>
	
    <div class="row text-center" style="margin-top:40px;" data-aos="zoom-in">
			@foreach (var item in Model.testimonials)
	   {
		     <div class="col-md-4 mb-4 mb-md-0">
        <div class="card">
          <div class="card-body py-4 mt-2">
            <div class="d-flex justify-content-center mb-4">
			
						<img src=@Url.Content("~/image/"+ item.User.ImagePath) class="rounded-circle" asp-append-version="true"  width="100" height="100">
            </div>
            <h5 class="font-weight-bold">@item.User.Fullname</h5>
            <h6 class="font-weight-bold my-3">Customer</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
					   <i class="fa-solid fa-star" style="color:#7571f9"></i>
              </li>
              <li>
					   <i class="fa-solid fa-star" style="color:#7571f9"></i>
              </li>
              <li>
                <i class="fa-solid fa-star" style="color:#7571f9"></i>
              </li>
              <li>
					  <i class="fa-solid fa-star" style="color:#7571f9"></i>
              </li>
              <li>
				  <i class="fa-solid fa-star" style="color:#7571f9"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>
			  @item.Message
            </p>
          </div>
        </div>
      </div>
	   }

    
    
    </div>
		
</div>
</section>

<div class="section-header">
				
					<h2>Contact Us</h2>

				

						</div>

 <div class="row text-center" style="margin-top:40px;" data-aos="fade-up-right">
		
				 <div class="col-md-4 mb-4 mb-md-0">
		
				<div class="d-flex justify-content-center mb-4">

						<i class="fa-solid fa-envelope fa-5x" style="color:#7571f9"></i>		
				</div>
				<h5 class="font-weight-bold">Email</h5>
				<p class="font-weight-bold my-3">@Model.homePajes.SingleOrDefault().Email</p>
			

			  </div>

			   <div class="col-md-4 mb-4 mb-md-0">
		
				<div class="d-flex justify-content-center mb-4">

						<i class="fa-sharp fa-solid fa-square-phone fa-5x" style="color:#7571f9"></i>	
				</div>
				<h5 class="font-weight-bold">Phone</h5>
				<p class="font-weight-bold my-3">@Model.homePajes.SingleOrDefault().Phone</p>
			

			  </div>

			   <div class="col-md-4 mb-4 mb-md-0">

				<div class="d-flex justify-content-center mb-4">

						<i class="fa-solid fa-location-crosshairs fa-5x" style="color:#7571f9"></i>	
				</div>
				<h5 class="font-weight-bold">Address</h5>
				<p class="font-weight-bold my-3">@Model.homePajes.SingleOrDefault().Address</p>


			  </div>



	</div>



	
@*<section  id="new-arrivals" class="new-arrivals">
		<div class="row">
			 <div class="col-md-4 mb-4 mb-md-0">
				<div class="d-flex justify-content-center mb-4">
					<i class="fa-solid fa-envelope"></i>
					</div>
			<h5 class="font-weight-bold">Email</h5>
			<h6 class="font-weight-bold my-3">ahmadghazal1900@gmail.com</h6>
			</div>
	 <div class="col-md-4 mb-4 mb-md-0">
				<i class="fa-sharp fa-solid fa-square-phone"></i>
					<h3>Phone</h3>
					<p>0777559634</p>
			</div>
		 <div class="col-md-4 mb-4 mb-md-0">
				<i class="fa-solid fa-location-crosshairs"></i>
					<h3>Address</h3>
					<p>Irbid-Jordan</p>

			</div>
		</div>
</section>*@


		<section id="clients"  class="clients">
			<div class="container">
				<div class="owl-carousel owl-theme" id="client">
						<div class="item">
							<a href="#">
								<img src="~/homepaje/images/clients/c1.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="~/homepaje/images/clients/c2.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="~/homepaje/images/clients/c3.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="~/homepaje/images/clients/c4.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="~/homepaje/images/clients/c5.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->

			</div><!--/.container-->

		</section>
			
	
		
</body>
</html>